.ccc {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif; }

.container {
  max-width: 1440px; }

.button {
  font-size: 38px;
  color: #304751;
  text-transform: uppercase;
  padding: 10px 25px;
  border: none;
  background: #fff;
  cursor: pointer; }

.white_link {
  color: #d4d8d9;
  text-decoration: none; }

.section {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.header_section {
  background: #2a3b40 url(../img/main_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center; }
  .header_section_logo {
    width: 30%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
  .header_section_container {
    width: 100%;
    padding-bottom: 223px; }
  .header_section_nav {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: 700;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 224px; }
    .header_section_nav_links {
      width: 70%; }
      .header_section_nav_links__menu_link {
        text-transform: uppercase;
        text-decoration: none;
        list-style-type: none;
        padding-top: 66px;
        padding-bottom: 66px; }
      .header_section_nav_links_list {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between; }
  .header_section_content {
    padding: 120px 110px;
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
    max-width: 762px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8); }
    .header_section_content__description {
      font-family: "Cookie", cursive;
      font-size: 104px;
      color: #304751;
      cursor: default; }
    .header_section_content__title {
      font-size: 76px;
      text-transform: uppercase;
      text-align: center;
      color: #ad6c12;
      margin-bottom: 34px;
      cursor: default; }

/*flavours*/
.flavours {
  background: #304751;
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .flavours_container {
    padding: 100px 0;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .flavours_text {
    width: 50%;
    font-family: "Raleway", sans-serif;
    color: #fff; }
    .flavours_text_title {
      font-size: 29px;
      font-weight: 700; }
    .flavours_text_subtitle {
      font-size: 18px;
      font-weight: 300;
      line-height: 33px; }
  .flavours_img {
    width: 530px;
    height: 355px; }
    .flavours_img_block {
      width: 100%;
      height: 100%;
      background: url(../img/flavours.jpg) no-repeat;
      background-position: center center;
      background-size: cover; }

/*bubble*/
.bubble {
  background: #d4d8d9;
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .bubble_container {
    width: 100%;
    padding: 100px 0px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .bubble_item {
    max-width: 292px;
    color: #304751;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .bubble_item_title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 35px; }
    .bubble_item_subtitle {
      font-size: 16px; }
    .bubble_item_bubble {
      height: 32px;
      width: 32px;
      border: 1px solid transparent;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #304751;
      margin-bottom: 32px;
      margin-right: 8px; }
      .bubble_item_bubbles {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        flex-direction: row;
        max-width: 100%;
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start; }
